################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareRasterizer
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/Software.F26C9496/x64/Debug/logger.obj
/Software.F26C9496/x64/Debug/main.obj
/Software.F26C9496/x64/Debug/Software.F26C9496.tlog/CL.command.1.tlog
/Software.F26C9496/x64/Debug/Software.F26C9496.tlog/Cl.items.tlog
/Software.F26C9496/x64/Debug/Software.F26C9496.tlog/CL.read.1.tlog
/Software.F26C9496/x64/Debug/Software.F26C9496.tlog/CL.write.1.tlog
/Software.F26C9496/x64/Debug/Software.F26C9496.tlog/link.command.1.tlog
/Software.F26C9496/x64/Debug/Software.F26C9496.tlog/link.read.1.tlog
/Software.F26C9496/x64/Debug/Software.F26C9496.tlog/link.secondary.1.tlog
/Software.F26C9496/x64/Debug/Software.F26C9496.tlog/link.write.1.tlog
/Software.F26C9496/x64/Debug/SoftwareRasterizer.Build.CppClean.log
/Software.F26C9496/x64/Debug/SoftwareRasterizer.ilk
/Software.F26C9496/x64/Debug/SoftwareRasterizer.log
/Software.F26C9496/x64/Debug/SoftwareRasterizer.vcxproj.FileListAbsolute.txt
/Software.F26C9496/x64/Debug/vc143.idb
/Software.F26C9496/x64/Debug/vc143.pdb
/Software.F26C9496/x64/Debug/window.obj
/Software.F26C9496/x64/Debug/proc.obj
/x64/Debug/SoftwareRasterizer.exe
/x64/Debug/SoftwareRasterizer.pdb
/SoftwareRasterizer.vcxproj.filters
/Software.F26C9496/x64/Release
/Software.F26C9496/x64/Debug/camera.obj
/Software.F26C9496/x64/Debug/draw.obj
/Software.F26C9496/x64/Debug/model.obj
/Software.F26C9496/x64/Debug/scene.obj
